// variables
$color-neutral: #EFEFEF;
$color-carbon: #A9A9A9;
$color-watermelon: #FF3B3F;
$color-sky: #CAEBF2;
$color-black: #000;

// style rules
.media-container {
  font-family: sans-serif;
  color: $color-black;

  .date {
    color: $color-watermelon;
  }

  .media-header {
    border-bottom: 3px solid $color-sky;
    padding-bottom: 8px;
    margin-bottom: 16px;

    h1 {
      color: $color-carbon;
    }

    .fake-link,
    .email {
      color: $color-watermelon;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.release {
  min-height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 24px;
  border-radius: 5px;
  max-width: 400px;
  margin-right: 0;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  @media (min-width: 768px) {
    margin-right: 45px;
  }

  .container {
    padding: 2px 0;
  }
}

.fake-link {
  text-decoration: underline;
  color: blue;
}
